/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

body
{
    font-family: 'Montserrat Alternates', sans-serif;
}
img
{
    width: 100%;
}
.owl-carousel .owl-item img {
    object-position: top;
}
a{
    cursor: pointer;
}