


<footer >
    <div class="py-4 text-center">
        <p>Created By <span><a href="https://github.com/Doaa-Ghopashe/Book-Store">Our Team</a></span> All Rights
            Reserved.</p>
        <div class="social-icons m-auto d-flex justify-content-around">
            <a href=""><i class="fab fa-linkedin"></i></a>
            <a href=""><i class="fab fa-github"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-google"></i></a>
            <a href=""><i class="fab fa-facebook"></i></a>
        </div>
    </div>

</footer>