.card
{  
    background-color: #f6e1a4;
    transition: all 0.5s;
    border-radius: 6px;
    text-align: center;
}

.card .card-body{
    height: 100px;
    margin-top: 3rem;
    text-align: center;

}