<div class="container">
    <h1 class="mt-5" style="text-align: center;"> Category </h1>
    <br><br>
    <div class="portfolio">
        <div class="row" >
            <div *ngFor="let category of allCategories | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }" class="col-md-3 my-3">
                <div class="card" (click)="getDetailsForGategory(category._id)">
                    <div class="card-body">
                    <h4 my-3>{{category.Name}}</h4>
                    </div>
                </div>
            </div>  
        </div>
        <div class="text-center paginationNav mt-2">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
    </div>
</div>