.contentType {
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    color: #8f8f98;
    margin: 5px 5px;
    padding: 10px;
    transition: background-color 0.2s ;
  }
  .contentType:hover {
    cursor: pointer;
    background-color:#ab64bd;
    color: white;
  }


  .pageBox {
    background-color: #fff;
    box-shadow: 1px 1px 4px #797878;
    margin: 2rem 1rem;
    padding: 5px;
    border-radius: 5px;
    height: 450px;
    position: relative;
  }
  .pageBox table
  {
    width: 100%;
  }

  .pageBox table thead
  {
    border-bottom: 1px solid #f7f7f7;
  }

.dropdown button
{
    background-color: #fff;
    border: 1px solid #eaeaea;
}


  .paginationNav
  {
    min-width: 100%;
    position: absolute;
    bottom: 0px;
  }
  .ngx-pagination .current
  {
    color :#ab64bd !important
  }