<div class="container">
    <h1 class="mt-5" style="text-align: center;"> BOOKS </h1>
    <br><br>
    <div>
        <div class="row">
            <div *ngFor="let book of allBooks | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage } "
                class="col-md-3 my-3">
                <div class="card " (click)="getBookDetails(book._id)">
                    <div class="book-cover">
                        <img src="http://localhost:5000/{{ book.photo.split('assets')[1] }}" alt="image">
                    </div>
                    <div class="card-body">
                        <span class=" book-title">{{book.title}}</span>
                        <p>{{book.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center paginationNav mt-2">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
    </div>
</div>