
<div class="container-fluid">
    <a class="btn addbtn" (click)="showAddBox()">
        Add Category <i class="fa fa-plus-square fs-5 mt-2"></i>
    </a>
    <div class="row flex-nowrap">
      <div class="container-fluid" style="width: 82vw">
        <div class="pageBox mt-4 ">
            <table class="text-center ">
                <thead class="mb-3">
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                </thead>
                <div class="py-2"></div>
                <tbody>
                    <tr *ngFor = "let category of allCategories | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };index as i">
                        <td >{{i+1}}</td>
                        <td>{{category.Name}}</td>
                        <td>
                            <a (click)="showUpdateBox(category._id)">
                                <i class="fa-solid fa-pen me-3 mt-4"></i>
                            </a>
                            <a (click)="deleteCategory(category._id)">
                                <i class="fa-regular fa-trash-can mt-4"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
             </table>

             <div class="text-center paginationNav mt-2">
                <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </div>
        </div>
      </div>


    </div>
</div>

<div class="layer position-absolute position-relative px-5 py-3 rounded text-center" id="layer">
    <a (click)="closeAddBox()" class="position-absolute close">
        <i class="fa fa-close fs-5"></i>
    </a>
    <h1 class="mt-4">Add Category</h1>
    <form  #addCategoryInput="ngForm"  (ngSubmit)="addCategory(addCategoryInput)">
            <div class="form-group mb-3">
                <input required minlength="3" maxlength="7" ngModel class="form-control" name="Name" #userEmail="ngModel">
                <div *ngIf="userEmail.touched">
                    <p *ngIf="userEmail.errors?.['required']" class="text-danger mt-2">Category Name is required</p>
                    <p *ngIf="userEmail.errors?.['minlength']" class="text-danger mt-2">Min length must be 3</p>
                    <p *ngIf="userEmail.errors?.['maxlength']" class="text-danger mt-2">Min length must be 7</p>
                </div>
            </div>

      <button [disabled]="addCategoryInput.invalid" type="submit" class=" mb-2 btn text-light">Add Category</button>
    </form>
</div>


<div class="updatelayer position-absolute position-relative px-5 py-3 rounded text-center" id="updatelayer">
    <a (click)="closeUpdateBox()" class="position-absolute close">
        <i class="fa fa-close fs-5"></i>
    </a>
    <h1 class="mt-4">Update Category</h1>
    <form  [formGroup]="updateCategoryForm" #updateCategoryInput="ngForm"  (ngSubmit)="updateCategory(updateCategoryInput)">
            <div class="form-group mb-3">
                <input required minlength="3" maxlength="7" formControlName="Name" ngModel class="form-control" name="Name" >
                <div *ngIf="userEmail.touched">
                    <p *ngIf="userEmail.errors?.['required']" class="text-danger mt-2">Category Name is required</p>
                    <p *ngIf="userEmail.errors?.['minlength']" class="text-danger mt-2">Min length must be 3</p>
                    <p *ngIf="userEmail.errors?.['maxlength']" class="text-danger mt-2">Min length must be 7</p>
                </div>
            </div>

      <button [disabled]="updateCategoryInput.invalid" type="submit" class=" mb-2 btn text-light">Update Category</button>
    </form>
</div>