
<div>
        
    <div class="container">
        <h1 class="mt-5" style="text-align: center;"> {{categoryname}} BOOKS </h1>
        <br><br>
        <div>
            <div class="row" >
                <div *ngFor="let book of currentBooks  | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }" class="col-md-4 my-3">
                    <div class="card" style="width:400px">
                        <div class="book-cover">
                            <img src="http://localhost:5000/{{book.photo.split('assets')[1] }}" alt="title">
                        </div>
                        <div class="card-body">
                            
                        <span class="my-3 book-title">{{book.title}}</span>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
      </div>
      
      <pagination-controls class="text-center" (pageChange)="currentPage = $event"></pagination-controls>









